<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="C:\apps\SimpleCRUDwebAPI\SimpleCRUDwebAPI\Logs\internallog\internallog.txt">
	<targets>

		<targets async="true">
			<target name="console" xsi:type="Console" layout="${longdate} ${level:upperCase=true} ${logger}:${callsite-linenumber} - ${scopeproperty:item=requestId} - ${message}" />
		</targets>


		<targets name="logfile" xsi:type="File"
				fileName="C:\apps\SimpleCRUDwebAPI\SimpleCRUDwebAPI\Logs\${shortdate}logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console"  />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		
		
	</rules>
</nlog>